<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.com//DTD Mapper 3.0//EN"
        "http://mybatis.com/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.phone_store.mapper.PasswordResetTokenMapper">

    <resultMap id="PasswordResetTokenMap" type="com.example.phone_store.entity.PasswordResetToken">
        <id property="id" column="id"/>
        <result property="token" column="token"/>
        <result property="expiryDate" column="expiry_date"/>
        <association property="user" javaType="com.example.phone_store.entity.User">
            <id property="userId" column="user_id"/>
            <result property="username" column="username"/>
            <result property="email" column="email"/>
            <result property="fullName" column="full_name"/>
            <result property="password" column="password"/>
            <result property="roleName" column="role_name"/>
        </association>
    </resultMap>

    <insert id="insert" parameterType="com.example.phone_store.entity.PasswordResetToken">
        INSERT INTO password_reset_tokens (token, user_id, expiry_date)
        VALUES (#{token}, #{user.userId}, #{expiryDate})
    </insert>

    <select id="findByToken" resultMap="PasswordResetTokenMap">
        SELECT prt.id, prt.token, prt.expiry_date,
        u.user_id, u.username, u.email, u.full_name, u.password, u.role_name
        FROM password_reset_tokens prt
        INNER JOIN users u ON prt.user_id = u.user_id
        WHERE prt.token = #{token}
    </select>

    <delete id="deleteByToken">
        DELETE FROM password_reset_tokens WHERE token = #{token}
    </delete>

    <delete id="deleteByUserId">
        DELETE FROM password_reset_tokens WHERE user_id = #{userId}
    </delete>

    <delete id="deleteExpired">
        DELETE FROM password_reset_tokens WHERE expiry_date &lt; #{now}
    </delete>

</mapper>